<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Sign in</title>
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		{% endblock %}
		{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

		<!-- Custom styles for this template -->
		{% trans_default_domain 'FOSUserBundle' %}
		<style type="text/css">
			body {
			  padding-top: 80px;
			  padding-bottom: 40px;
			  background-color: #252830;
			}

			.form-signin {
			  width: 450px;
			  padding: 25px;
			  margin: 0 auto;
			  border-radius: 15px;
			  -webkit-border-radius: 15px;
			  -moz-border-radius: 15px;
			  -opera-border-radius: 15px;
			  //background-color: #e3e3e3;
			  text-align: center;
			}
			.form-signin .form-signin-heading {
			  margin-bottom: 10px;
			}
			.form-signin-heading{
				color: white;
			}
			.signin-button {
				width: 300px;
				margin: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="form-signin">
				{% if error %}
				<div class="alert alert-danger">{{ error|trans }}</div>
				{% endif %}
				<h2 class="form-signin-heading">Connection</h2>
                {% for owner in hwi_oauth_resource_owners() %}
				<div>
                	<a class="" href="{{ hwi_oauth_login_url(owner) }}"><img class="signin-button" src="{{ asset('img/' ~ owner ~ '.jpg') }}"/></a>
				</div>
                {% endfor %}
			</div>
		</div>
	</body>
</html>
