{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Rules - {{ parent() }}
{% endblock %}

{% block content %}
<style>
h2 {
    margin-top: 25px;
    color: #666666;
}
</style>
<div class="page-header">
    <h1>Euro 2016 Rules</h1>
</div>
<div style="margin-left: 40px">
    <h2>Points Attribution</h2>
    Members can win points by betting on the games. The following rules will apply:
    <ul>
        <li>Predicting the correct winner of a game: <b>1 point</b></li>
        <li>Predicting the correct goal difference of a game: <b>2 points</b></li>
        <li>Predicting the correct final score of a game: <b>4 points</b></li>
        <li>In case of drawn game after the additional time (2 x 15') during the knock-out phase, the final score excludes the penalty shoot-outs</li>
    </ul>
    <h2>Main Pot Distribution</h2>
    Only the first three members in the betting competition will be entitled to part of the Main Pot:
    <ul>
        <li>The winner takes <b>50%</b></li>
        <li>The second takes <b>30%</b></li>
        <li>The third takes <b>20%</b></li>
    </ul>
    <h2>Practicalities</h2>
    Additionally the following rules are applicable to the betting competition:
    <ul>
        <li>The betting competition is <b>only among friends</b>; I reserve the right to refuse a participation of a member</li>
        <li>Participating in the Pot is mandatory and the participation amount is <b>20&euro;</b> (excluding transaction and text-reminder fees)</li>
        <li>Your bets have to be recorded <b>before</b> the game begins</li>
        <li>The <b>only</b> valid way to record a bet is on this website (emails are not accepted)</li>
        <li>Although I (webmaster) will participate in the competition, I am <b>not</b> entitled to part of the pot should I win</li>
    </ul>
</div>
{% endblock %}
