{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<style>
#form {
    margin-bottom: 25px;
    max-width: 500px;
}
#error-box {
    margin-top: 10px;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    $('#submitButton').click(function()
    {
        submitTester();
    });
    $('#dataSent').change(function()
    {
        var dataSent = '';
        $(this).parent().removeClass('has-error');
        $('#error-box').removeClass('alert-danger').html('');
        try
        {
            dataSent = JSON.stringify(JSON.parse($(this).val()), null, 4);
            $(this).val(dataSent);
        }
        catch (e)
        {
            $(this).parent().addClass('has-error');
            $('#error-box').addClass('alert-danger').html('JSON parsing error : ' + e);
        }
    })
});

function submitTester()
{
    var settings = {
        url: $('#actionUrl').val(),
        method: $('#methodUsed').val()
    };

    if($('#methodUsed').val() == 'POST' || $('#methodUsed').val() == 'PUT')
    {
        var dataSent = '';
        try
        {
            dataSent = JSON.parse($('#dataSent').val());
            settings['data'] = dataSent;
        }
        catch (e)
        {
            $('#error-box').addClass('alert-danger').html('JSON parsing error : ' + e);
        }
    }

    $.ajax(settings).done(function(data, textStatus, jqXHR)
    {
        handleAjaxResponse(data, textStatus, jqXHR);
    })
    .fail(function(jqXHR, textStatus, errorThrown)
    {
        handleAjaxResponse(errorThrown, textStatus, jqXHR);
    });
    return false;
}

function handleAjaxResponse(data, textStatus, jqXHR)
{
    $('#responseData').html(JSON.stringify(data, null, 4));
    $('#responseHeaders').html(jqXHR.getAllResponseHeaders());
    $('#statusText').val(textStatus);
    $('#statusCode').val(jqXHR.status);
}
</script>

<h1>Tester</h1>
<div class="container">
    <div id="form">
        <h3>Form</h2>
        <div class="form-group">
            <label class="control-label" for="actionUrl">Action URL</label>
            <input type="text" name="actionUrl" class="form-control" id="actionUrl" placeholder="bets/1" value="bets">
        </div>
        <div class="form-group">
            <label class="control-label" for="methodUsed">Method</label>
            <select name="methodUsed" class="form-control" id="methodUsed">
                <option value="GET">GET</option>
                <option value="PUT">PUT</option>
                <option value="POST">POST</option>
                <option value="DELETE">DELETE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="dataSent">Data sent</label>
            <textarea class="form-control" name="dataSent" id="dataSent" rows="10">{}</textarea>
            <div id="error-box" class="alert" role="alert">
            </div>
        </div>
        <button class="btn btn-primary" id="submitButton">Submit</button>
    </div>
    <div id="response">
        <h3>Response</h2>
        <div class="form-group">
            <label class="control-label" for="statusText">Status text</label>
            <input class="form-control" type="text" id="statusText" disabled>
        </div>
        <div class="form-group">
            <label class="control-label" for="statusCode">Status code</label>
            <input class="form-control" type="text" id="statusCode" disabled>
        </div>
        <div class="form-group">
            <label class="control-label" for="responseHeaders">Response headers</label>
            <pre id="responseHeaders">
            </pre>
        </div>
        <div class="form-group">
            <label class="control-label" for="responseData">Data</label>
            <pre id="responseData">
            </pre>
        </div>
    </div>
</div>
{% endblock %}
