{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Welcome - {{ parent() }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Welcome to Euro 2016!</h1>
</div>
<div>
<p>Welcome to Euro 2016. This website is meant to bring together soccer enthousiasts. We recommend you have a look at the <a href="{{ path('eu_main_rules') }}">rules</a> before you start betting.</p>
<p>Participation in the "Main Pot" is mandatory for every user. <a href="{{ path('eu_main_main_pot') }}" class="btn btn-primary">Participate in main pot</a></p>
</div>
{% endblock %}
