{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<style>

</style>

<div class="page-header">
    <h1>Oops! There was an issue with your card</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Error message:</h3>
        <p>{{ error }}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Pay by bank transfer</h3>
        <p>In case your credit card is refused, you can alternatively pay by bank transfer:</p>
        <ul>
            <li>Bank account holder: Quentin Bodart</li>
            <li>Bank account number: BE07 0632 3451 0366</li>
            <li>BIC code: GKCCBEBB</li>
            <li>Amount: 16.00&euro;</li>
        </ul>
        <p>As soon as I can confirm receipt of the payment, I will open the account and notify you by email.</p>
    </div>
</div>
{% endblock %}
