{% extends 'layout_error.html.twig' %}

{% block body %}
<div class="alert alert-danger">
<h2>An error occurred : {{ status_text }} ({{ status_code }})</h2>
    <p>
        It looks like something is broken. Try again or <a href="{{ path('eu_main_homepage') }}">return to the homepage</a>.
    </p>
</div>
{% endblock %}
