<div class="col-md-3 col-sm-4" style="padding: 10px;">
    <div class="game panel panel-default">
        <div class="panel-heading">
            [[ game.startTime.date | dateToISO | date: 'MMMM d @ H:mm' ]] <span class="pull-right label label-info">[[ game.pool ]]</span>
        </div>
        <div class="panel-body">
            <div class="flags">
                <img ng-src="[['../img/flags/normal/' + (game.team1.shortName | uppercase) + '.png']]"/>
                <strong>vs</strong>
                <img ng-src="[['../img/flags/normal/' + (game.team2.shortName | uppercase) + '.png']]"/>
            </div>
            <div class="names">
                [[game.team1.longName]] vs [[game.team2.longName]]
            </div>
            <div class="stats">
                <h4>Stats</h4>
                <table>
                    <tr ng-repeat="(key, value) in game.stats">
                        <td><img src="img/bar.png" width="[[ value[1] * 100 ]]px"/></td>
                        <td>[[key]]</td>
                        <td><img src="img/bar.png" width="[[ value[2] * 100 ]]px"/></td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="table table-condensed table-striped">
            <tr>
                <th>Pots</th>
                <th>Bets</th>
                <th></th>
            </tr>
            <tr game-bet-table ng-repeat="participation in participations | paidParticipationsFilter as filteredParticipations" participation="participation" game="game"></tr>
            <tr ng-hide="filteredParticipations.length">
                <td colspan="3" align="center">You have to pay your participation to the Pot first</td>
            </tr>
        </table>
    </div>
</div>
