{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Games - {{ parent() }}
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ asset('bundles/eumain/js/services.js?v=2.0') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eumain/js/controllers.js?v=2.0') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('button.show-stats').click(function(){
        $('.stats table').show();
    });
    $('button.hide-stats').click(function(){
        $('.stats table').hide();
    });
});
</script>
<style>
.game {
    //padding: 10px;
    //background-color: #f3f3f3;
    //border-radius: 5px;
    //text-align: center;
}
.game .panel-heading {
    font-weight: bold;
}
.game .panel-body {
    text-align: center;
}
.game .flags img {
    //border-radius: 50%;
    //border: 1px #a3a3a3 solid;
    height: 45px;
}
.game .flags strong {
    font-size: 20px;
}
.game .names {
    font-size: 14px;
    margin: 5px;
    overflow: hidden;
    height: 34px;
    max-height: 34px;
}
.game .stats {
    text-align: center;
}
.game .stats h4 {
    border-bottom: solid 1px #eeeeee;
    cursor: pointer;
    margin: 0px;
    padding: 10px;
}
.game .stats h4:hover {
    background-color: #eeeeee;
}
.game .stats table {
    width: 100%;
    margin-bottom: 10px;
    display: none;
}
.game .stats tr td {
    text-align: center;
    width: 10%;
    overflow: hidden;
}
.game .stats tr td:first-child {
    text-align: right;
    width: 45%;
}
.game .stats tr td:last-child {
    text-align: left;
    width: 45%;
}
.game .stats table img {
    height: 20px;
}
.game .table tr td:last-child {
    min-width: 80px;
}
.game .table tr th:nth-child(2) {
    text-align: center;
}
.loader-ajax img {
    height: 50px;
}
</style>
<div class="page-header">
    <div class="loader-ajax pull-right" class="col-sm-12">
        <img ng-src="{{ asset('img/loader.gif') }}"/>
    </div>
    <h1>Games</h1>
</div>
<div ng-controller="GamesController as gamesCtrl">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="search">Search:</label>
                <input name="search" type="text" class="form-control" ng-model="search" placeholder="eg: 2016-06-10, Group A, Belgium, ..."/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="order">Order by:</label>
                <select class="form-control" ng-model="order">
                    <option selected="selected" value="startTime">Date/time</option>
                    <option value="-startTime">Date/time (reversed)</option>
                    <option value="team1.shortName">Team 1</option>
                    <option value="team2.shortName">Team 2</option>
                    <option value="pool">Pool</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Stats:</label></br>
                <button style="width: 48%" class="btn btn-info show-stats">Show all stats</button>
                <button style="width: 48%" class="btn btn-info hide-stats">Hide all stats</button>
            </div>
        </div>
    </div>
    <div class="row">
        <game ng-repeat="game in games | filter:search | orderBy: order" game="game" participations="participations" bets="bets"></game>
    </div>
</div>

{% endblock %}
